#bar{
    display: block;
    margin-top: 0%;
    height: 50%;
    width: 100%;
    background-color: rgb(50, 224, 230);
    border:none;
    position: relative;
}
.dssp {
    margin-right: 50%;
    margin-left: 9%; 
    margin-bottom: 10px;
    margin-top: 100px;
    width: 20%;
    text-align: center;
    padding-top: 1px;
    padding-right: 1px;
    padding-bottom: 1px;
    padding-left: 1px;
    color:white;
    background-color: cornflowerblue;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
.rf {
    margin-right: 50%;
    margin-left: 10%; 
    margin-bottom: 150px;
    margin-top: 100px;
    width: 18%;
    text-align: center;
    padding-top: 1px;
    padding-right: 1px;
    padding-bottom: 1px;
    padding-left: 0%;
    color:black;
    background-color:white;
    border: 1px outset black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
.mg {
    margin-right: 50%;
    margin-left: 10%; 
    margin-bottom: 150px;
    margin-top: 100px;
    width: 18%;
    text-align: center;
    padding-top: 1px;
    padding-right: 1px;
    padding-bottom: 1px;
    padding-left: 0%;
    color:black;
    background-color:white;
    border: 1px outset black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
.pt {
    margin-right: 50%;
    margin-left: 10%; 
    margin-bottom: 150px;
    margin-top: 100px;
    width: 18%;
    text-align: center;
    padding-top: 1px;
    padding-right: 1px;
    padding-bottom: 1px;
    padding-left: 0%;
    color:black;
    background-color:white;
    border: 1px outset black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
.sr {
    margin-right: 50%;
    margin-left: 10%; 
    margin-bottom: 150px;
    margin-top: 100px;
    width: 18%;
    text-align: center;
    padding-top: 1px;
    padding-right: 1px;
    padding-bottom: 1px;
    padding-left: 0%;
    color:black;
    background-color:white;
    border: 1px outset black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
.gn {
    margin-right: 50%;
    margin-left: 10%; 
    margin-bottom: 150px;
    margin-top: 100px;
    width: 18%;
    text-align: center;
    padding-top: 1px;
    padding-right: 1px;
    padding-bottom: 1px;
    padding-left: 0%;
    color:black;
    background-color:white;
    border: 1px outset black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
.am {
    margin-right: 50%;
    margin-left: 10%; 
    margin-bottom: 150px;
    margin-top: 100px;
    width: 18%;
    text-align: center;
    padding-top: 1px;
    padding-right: 1px;
    padding-bottom: 1px;
    padding-left: 0%;
    color:black;
    background-color:white;
    border: 1px outset black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
.rk {
    margin-right: 50%;
    margin-left: 10%; 
    margin-bottom: 150px;
    margin-top: 100px;
    width: 18%;
    text-align: center;
    padding-top: 1px;
    padding-right: 1px;
    padding-bottom: 1px;
    padding-left: 0%;
    color:black;
    background-color:white;
    border: 1px outset black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
.acsr {
    margin-right: 50%;
    margin-left: 10%; 
    margin-bottom: 150px;
    margin-top: 100px;
    width: 18%;
    text-align: center;
    padding-top: 1px;
    padding-right: 1px;
    padding-bottom: 1px;
    padding-left: 0%;
    color:black;
    background-color:white;
    border: 1px outset black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
