#dssp {
    margin-left: 4.4%;
    width: 20%;
    text-align: center;
    padding-top: 1px;
    padding-right: 1px;
    padding-bottom: 1px;
    padding-left: 1px;
    color:rgb(0, 0, 0);
    background-color: rgb(230, 228, 218);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
#rf {
    display: none;
    margin-left: 4.5%;
    width: 19.92%;
    text-align: center;
    padding-top: 1px;
    padding-right: 1px;
    padding-bottom: 1px;
    padding-left: 0%;
    color:black;
    background-color:white;
    border: 1px outset black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
#mg{
    display: none;
    margin-left: 4.5%;
    width: 19.92%;
    text-align: center;
    padding-top: 1px;
    padding-right: 1px;
    padding-bottom: 1px;
    padding-left: 0%;
    color:black;
    background-color:white;
    border: 1px outset black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
#smg{
    display: none;
    margin-left: 4.5%;
    width: 19.92%;
    text-align: center;
    padding-top: 1px;
    padding-right: 1px;
    padding-bottom: 1px;
    padding-left: 0%;
    color:black;
    background-color:white;
    border: 1px outset black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
#pt{
    display: none;
    margin-left: 4.5%;
    width: 19.92%;
    text-align: center;
    padding-top: 1px;
    padding-right: 1px;
    padding-bottom: 1px;
    padding-left: 0%;
    color:black;
    background-color:white;
    border: 1px outset black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
#rk{
    display: none;
    margin-left: 4.5%;
    width: 19.92%;
    text-align: center;
    padding-top: 1px;
    padding-right: 1px;
    padding-bottom: 1px;
    padding-left: 0%;
    color:black;
    background-color:white;
    border: 1px outset black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
#sr{
    display: none;
    margin-left: 4.5%;
    width: 19.92%;
    text-align: center;
    padding-top: 1px;
    padding-right: 1px;
    padding-bottom: 1px;
    padding-left: 0%;
    color:black;
    background-color:white;
    border: 1px outset black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
#gn{
    display: none;
    margin-left: 4.5%;
    width: 19.92%;
    text-align: center;
    padding-top: 1px;
    padding-right: 1px;
    padding-bottom: 1px;
    padding-left: 0%;
    color:black;
    background-color:white;
    border: 1px outset black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
#am{
    display: none;
    margin-left: 4.5%;
    width: 19.92%;
    text-align: center;
    padding-top: 1px;
    padding-right: 1px;
    padding-bottom: 1px;
    padding-left: 0%;
    color:black;
    background-color:white;
    border: 1px outset black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
#asr{
        display: none;
        margin-left: 4.5%;
        width: 19.92%;
        text-align: center;
        padding-top: 1px;
        padding-right: 1px;
        padding-bottom: 1px;
        padding-left: 0%;
        color:black;
        background-color:white;
        border: 1px outset black;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 20px
}
