body {
    background-color: rgb(230, 228, 218);
    background-size: contain ;
    display: flex;  
    width: 100%;
    justify-content: center;
    flex-direction: column;
}
.card{
    border: none;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 30px;
    text-align: center; 
    /* margin-bottom: 25%; */
    margin-left: 32%;
    margin-top: 1%;
    height: 300px;
    width: 500px;
    background-color: white;
}

i{
    display: block;
    padding-left:-50px;
    margin-right: -25px;
    cursor: pointer;
    position: absolute;
    /* top: 166px;
    right: 545px; */
    top: 49%;
    right: 38%;
}
#email{
    border-style: none;
    border-radius: 5px;
    height: 25px;
    width: 400px;
    background-color: rgb(249,247,243);
    margin: 5px;
}
.input{
    border-style: none;
    border-radius: 5px;
    height: 25px;
    width: 400px;
    background-color: rgb(249,247,243);
    margin: 5px;
}
#login{
    color: white;
    text-emphasis-color: whitesmoke;
    margin: 10px;
    font-size: small;
    border-style: none;
    height: 35px;
    width: 400px;
    border-radius: 25px;
}
#login:hover{
    font-size: large;
    height: 45px;
    width: 425px;
}
#img{
    display: block;
    height: 180px;
    width: 190px;
    border: none;
    border-radius: 30px;
    margin-left: 42%;
    margin-right: auto;
}